.main-nav {
  min-height: 50px;
  width: 100%;
  margin: 0% auto;
  border-top: solid 3px #ef8236;
  box-shadow: 0px 1px 5px #00000033;
  position: fixed;
  z-index: 5;
  top: 0%;
  left: 0%;
  background-color: var(--background-nav);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.navbar {
  height: 100%;
  min-width: 94%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  padding: 5px 0;
}

.logo-contianer {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: var(--text-body-secondry);
}

.logo-contianer p {
  font-weight: 400;
  font-size: large;
}

.logo-contianer p span {
  font-weight: bold;
}

.logo {
  width: 35px;
  height: 30px;
}

.nav-item {
  margin: 0px 3px;
  font-size: small;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-body-secondry);
  transition: 0.2s;
}

.nav-btn {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
}

.nav-item:hover {
  background-color: var(--background-button-hover);
}

.navbar form {
  flex-grow: 1;
  padding: 0px 12px;
  position: relative;
  margin-right: 5px;
}

.navbar form input {
  min-width: 90%;
  margin: 0;
  padding: 8px 10px 8px 32px;
  font-size: 13px;
  background-color: var(--background-nav);
  border: solid 1px var(--border-color);
  border-radius: 3px;
}

.navbar form .search-icon {
  position: absolute;
  color: #636b74;
  left: 22px;
  top: 8px;
}

.nav-links {
  padding: 7px 13px;
  border: none;
  border-radius: 5px;
  color: var(--text-button);
  background-color: #009dff;
  cursor: pointer;
  margin-left: 10px;
}

.nav-links:hover {
  background-color: #0086d8;
}

.avatar-container-mobile {
  display: flex;
}

.menubar {
  display: none;
}

.stackoverflow-icon {
  display: none;
}

.search-icon-mobile {
  display: none;
}

.nav-btn-mobile {
  display: none;
}

.sidebar {
  display: none;
}

.loginBtn-container-mobile {
  display: flex;
}

.dark-mode-toggle-container {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--background-body-secondry);
}

.dark-mode-toggle-container:hover {
  background-color: var(--background-button-hover);
}

.dark-mode-icon{
  height: 20px;
}

/* media-queries */

@media (max-width: 600px) {
  .main-nav {
    width: 100%;
    height: 60px;
    box-shadow: none;
    box-shadow: 0px 1px 5px #00000033;
  }

  .navbar {
    height: 100%;
    min-width: 93%;
    display: flex;
  }

  .mobile {
    display: none;
  }

  .nav-bar-mobile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }

  .menubar {
    display: block;
  }

  .menubar-icon {
    width: 23px;
    height: 23px;
    margin-right: 3px;
    color: #636b74;
  }

  .closing-icon {
    display: block;
    width: 23px;
    height: 23px;
    margin-right: 3px;
    color: #636b74;
  }

  .search-icon-mobile {
    display: block;
    align-self: center;
    width: 18px;
    height: 18px;
    color: #636b74;
  }

  .nav-btn-mobile {
    display: block;
    border: none;
    padding: 7px 13px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--text-body-secondry);
  }

  .nav-btn-mobile:hover {
    background-color: var(--background-button-hover);
  }

  .stackoverflow-icon {
    display: block;
    height: 34px;
    width: 34px;
    margin-left: 5px;
  }

  .loginBtn-container-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
  }

  .dark-mode-toggle-container {
    margin-left: 0;
  }

  .avatar-container-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }

  .avatar-container-mobile .search-icon-mobile {
    margin-right: 8px;
  }

  .sidebar {
    display: block;
    position: absolute;
    top: 20px;
    left: -100%;
    background-color: var(--background-body-secondry);
    box-shadow: 0px 1px 5px #00000033;
    width: 50vw;
    height: 55vh;
    position: fixed;
    z-index: 1;
    margin-left: 0;
    transition: 0.3s;
  }

  .slide {
    left: 0;
  }

  .menu-nav div {
    padding-left: 5px;
  }
}

@media (min-width: 601px) and (max-width: 820px) {
  .navbar {
    width: 98%;
  }

  .mobile {
    display: none;
  }

  .nav-bar-mobile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }

  .menubar {
    display: block;
    cursor: pointer;
  }

  .menubar-icon {
    width: 23px;
    height: 23px;
    margin-right: 3px;
    color: #636b74;
  }

  .closing-icon {
    display: block;
    width: 23px;
    height: 23px;
    margin-right: 3px;
    color: #636b74;
  }

  .navbar form {
    margin-right: 15px;
  }
  .search-bar {
    display: block;
    margin-right: 20px;
  }

  .nav-btn-mobile {
    display: block;
    border: none;
    padding: 7px 13px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--text-body-secondry);
  }

  .nav-btn-mobile:hover {
    background-color: #e1ecf4;
  }

  .stackoverflow-icon {
    display: block;
    height: 34px;
    width: 34px;
    margin-left: 5px;
  }

  .sidebar {
    display: block;
    position: absolute;
    top: 20px;
    left: -100%;
    background-color: var(--background-body-secondry);
    box-shadow: 0px 1px 5px #00000033;
    width: 200px;
    height: 400px;
    z-index: 1;
    margin-left: 0;
    transition: 0.3s;
  }

  .slide {
    left: 0;
  }
}

@media (min-width: 821px) and (max-width: 1020px) {
  .navbar {
    height: 100%;
    min-width: 95%;
  }

  .nav-logo {
    padding: 5px 0px;
  }
  .navbar form {
    margin-right: 20px;
  }
  .search-bar {
    display: block;
    margin-right: 20px;
  }
}
