.main-nav {
  min-height: 50px;
  width: 100%;
  margin: 0% auto;
  border-top: solid 3px #ef8236;
  box-shadow: 0px 1px 5px #00000033;
  position: fixed;
  z-index: 5;
  top: 0%;
  left: 0%;
  background-color: #f8f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.navbar {
  height: 100%;
  min-width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  padding: 5px 25px;
}

img {
  width: 150px;
  height: 30px;
}

.nav-item {
  margin: 0px 3px;
  font-size: small;
  font-weight: 500;
  text-decoration: none;
  color: rgb(69, 69, 69);
  transition: 0.2s;
}

.nav-btn {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
}

.nav-item:hover {
  background-color: #dbdbdb;
}

.navbar form {
  flex-grow: 1;
  padding: 0px 12px;
  position: relative;
}



.navbar form input {
  min-width: 90%;
  margin: 0;
  padding: 8px 10px 8px 32px;
  font-size: 13px;
  border: solid 1px #0000003e;
  border-radius: 3px;
}

.navbar form .search-icon {
  position: absolute;
  left: 22px;
  top: 3px;
}

.nav-links {
  padding: 7px 13px;
  border: none;
  border-radius: 5px;
  background-color: #e1ecf4;
  cursor: pointer;
  margin-left: 10px;
}

.nav-link:hover {
  background-color: #d3e4eb;
}

.avatar-container-mobile {
  display: flex;
}

.menubar {
  display: none;
}

.stackoverflow-icon {
  display: none;
}

.search-icon-mobile {
  display: none;
}

.nav-btn-mobile {
  display: none;
}

.sidebar {
  display: none;
}

/* media-queries */

@media (max-width: 600px) {
  .main-nav {
    width: 100%;
    height: 6.5vh;
    box-shadow: none;
    border-bottom: 1px solid #d3e4eb;
  }

  .navbar {
    height: 100%;
    min-width: 93%;
    display: flex;
  }

  .mobile {
    display: none;
  }

  .nav-bar-mobile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }

  .menubar {
    display: block;
  }

  .menubar-icon {
    width: 23px;
    height: 23px;
    margin-right: 3px;
    color: #636b74;
  }

  .closing-icon {
    display: block;
    width: 23px;
    height: 23px;
    margin-right: 3px;
    color: #636b74;
  }

  .search-icon-mobile {
    display: block;
    align-self: center;
    width: 18px;
    height: 18px;
    color: #636b74;
  }

  .nav-btn-mobile {
    display: block;
    border: none;
    padding: 7px 13px;
    border-radius: 5px;
    cursor: pointer;
    color:  #636b74;
    
  }

  .nav-btn-mobile:hover{
    background-color: #e1ecf4;
  }

  .stackoverflow-icon {
    display: block;
    height: 34px;
    width: 34px;
    margin-left: 5px;
  }

  .loginBtn-container-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }

  .avatar-container-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }

  .avatar-container-mobile .search-icon-mobile {
    margin-right: 8px;
  }

  .sidebar {
    display: block;
    position: absolute;
    top: 20px;
    padding-left: 10px;
    left: -100%;
    background-color: #f8f9f9;
    box-shadow: 0px 1px 5px #00000033;
    width: 50vw;
    height: 50vh;
    z-index: 1;
    margin-left: 0;
    transition: 0.3s;
  }

  .slide {
    left: 0;
  }
}
